@using EntityLayer.Concrete
@model List<WriterUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="getlistall" class="btn btn-outline-danger">
            Yazarları Listele
        </button>
       
    </div>
</div>

<h2 class="text-center">Yazarlar Listesi</h2>
<div class="p-2" id="listuser">
    
</div>
<br />
@section Scripts
{
    <script>

        $("#getlistall").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/WriterUser/ListUser/",

                success: function (funk) {
                    let values = jQuery.parseJSON(funk);
                    console.log(values);

                    let htmlst = "<table class=table table-bordered> <tr> <th> # </th> <th> Başlık </th> <th> Mail </th> </tr>";
                    $.each(values, (index, value) => {
                        htmlst += `<tr> <td> <img src="/userimage/${value.ImageUrl}" /img> </td> <td>${value.Name + " " + value.Surname}</td> <td>${value.Email}</td>  <td><a href="/AdminMessage/AdminMessageAdd/" class="btn btn-outline-success"> Mesaj Yaz</a>  </td>  </tr>`
                    });
                    htmlst += "</table>";
                    $("#listuser").html(htmlst);
                }
            });
        });
    </script>
    }
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>