@model EntityLayer.Concrete.Skill

@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


 <div class="card-header border-0">
    <h3 class="mb-0">Yetenek Ekleme Tablosu</h3>
</div>
@using (Html.BeginForm("AddSkill", "Skill", FormMethod.Post))
{
    <br />
    @Html.Label("Yetenek ")
    @Html.TextBoxFor(x => x.Title , new {@class = "form-control", placeholder ="Yetenek İsmi Giriniz"})
    <br />
    @Html.Label("Yetenek Değeri ")
    @Html.TextBoxFor(X => X.Value , new {@class = "form-control", placeholder = "Yetenek İçin Bir Değer Giriniz"})
    <br />
    <button class="btn btn-success">Kaydet</button>
}

