@model Core_Project.Areas.Writer.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Düzenleme</h4>
           
            <form class="forms-sample"  method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Adınız</label>
                    <input type="text" class="form-control"  asp-for="Name" id="exampleInputName1" placeholder="Ad">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Soyadınız</label>
                    <input type="text" class="form-control" asp-for="Surname" id="exampleInputName1" placeholder="Soyadı">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail</label>
                    <input type="email" class="form-control" asp-for="Mail" id="exampleInputEmail3" placeholder="parasors@parasors.com">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Şifre</label>
                    <input type="password" class="form-control" asp-for="Password" id="exampleInputPassword4" placeholder="şifre">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Şifre Tekrar</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword" id="exampleInputPassword4" placeholder="Şifre tekrar">
                </div>

                <div class="form-group">
                    <label>Resim Seç</label>
                    <input type="file" asp-for="Picture" >
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Resim yükle">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Ekle</button>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <button class="btn btn-light">Iptal</button>
            </form>
        </div>
    </div>
</div>

