@using EntityLayer.Concrete
@model List<Feature>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Başlık</th>
                <th>İçerik</th>
                <th>Sil</th>
                <th>Düzenle</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @item.FeatureID
                    </td>
                    <td>
                        @item.Header
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td> <a href="/Feature/DeleteFeature/@item.FeatureID" class="btn btn-danger">Sil</a></td>
                    <td> <a href="/Feature/EditFeature/@item.FeatureID" class="btn btn-success">Güncelle</a></td>
                </tr>
            }

        </tbody>
    </table>
    <br />
    <a href="/Feature/EditFeature/" class="btn btn-warning">Güncelle </a>
</div>
